@using HairSalon.Models

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>New Client</title>
</head>
<body>
  <h1>Add a new Client for @Model.FirstName</h1>

  <form action='/stylist/@Model.Id/client' method='post'>

    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName" type="text">
    <br>
    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" type="text">
    <br>
    <label for="clientSince">Client Since</label>
    <input id="clientSince" name="clientSince" type="text">
    <br>

    <button type='submit'>Add Client</button>
  </form>

</body>
</html>
