<h1>Hair Salon</h1>
<h2>Add new specialty</h2>
<hr />

<form action="/specialty" method="post">
  <label for="specialtyType">Specialty type:</label>
  <input id="specialtyType" name="specialtyType" type="text">
  <button type="submit">Add</button>
</form>

<h4><a href="/">Return home</a></h4>
