<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Hair Salon</title>
</head>
<body>
  <h1>Welcome to Lindsey's Hair Salon!</h1>
  <h3><a href='/stylist'>View stylist</a></h3>
  <h3><a href='/stylist/new'>Add a new stylist</a>
</body>
</html>
