<h1>Add a stylist</h1>
<p>Add a stylist here:</p>

<form action="/stylists" method="post">

  <label for="stylistName">First Name</label>
  <input id="stylistFirstName" name="stylistFirstName" type="text">
<br>
  <label for="stylistName">Last Name</label>
  <input id="stylistLastName" name="stylistLastName" type="text">
<br>
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/stylist">Back to stylists.</a></p>
