<h1>Add a stylist</h1>
<p>Add a stylist here:</p>

<form action="/stylist" method="post">

  <label for="firstName">First Name</label>
  <input id="firstName" name="firstName" type="text">
<br>
  <label for="lastName">Last Name</label>
  <input id="lastName" name="lastName" type="text">
<br>
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/stylist">Back to stylists.</a></p>
